

/***
INDEX

BG-COLORS
    WHITE
    BLACK
    RED
***/

/*white*/
.bg_white
{
    background-color: #fff;
}

/*black*/
.bg_black
{
    background-color: #000;
}

/*red*/
.bg_red--5
{
    background-color:#f00;
}
.bg_red--4
{
    color:#b71c1c;
}
.bg_red--3
{
    background-color:#d3dfdf;
}
.bg_red--2
{
    background-color:#e57373;
}
.bg_red--1
{
    background-color:#ffcdd2;
}
